@import url("./base.css");
@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/sections.css");
@import url("./components/cards.css");
@import url("./components/team.css");
@import url("./components/news.css");
@import url("./components/cta.css");
@import url("./components/modal.css");
@import url("./components/footer.css");
@import url("./components/settings.css");
@import url("./components/dark.css");
